@import "../imports/ui/components/authentication/sign-in/signIn.less";
@import "../imports/ui/components/authentication/sign-up/signUp";
@import "../imports/ui/components/user-sidebar/userSidebar";
@import "../imports/ui/components/dictionary/card";

body {
  padding: 40px;
  background-image: url("images/backgroundIm.png");
}

.row-centered{
  margin-top: 100px;
}
#logo h1{
  color: white;
}
#logo span {
  font-size: 18pt;
  text-align: center;
  display: block;
}

img {
  cursor: pointer;
}